 
<ion-content>
  <section class="header">
    <div class="top-left">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="employee"></ion-back-button>
      </ion-buttons>
      <ion-title>Knowledge Details</ion-title>
    </div>
  </section>
  <ion-card class="grid-box">
    

    <ion-col class="profile-img-box">
      <!-- <img
        class="user-img"
        *ngIf="customerData.CustomerImage.length !== 0"
        src="{{customerData.CustomerImage}}"
      /> -->

      <div
        *ngIf="true"
        [ngStyle]="{'opacity' : customerData.isAccountActive == false ? 0.4 : 1}"
        class="centered"
      >
        {{customerData.label}}
      </div>

      <h6 *ngIf="customerData.name">{{customerData.name }}</h6>
    </ion-col>
  </ion-card>
 
  <ion-card class="card-box">
    <div class="row">
      <div class="float-left">
        <ion-label>Email Id</ion-label>
        <ion-text *ngIf="customerData.email">{{customerData.email}}</ion-text>
        <ion-text *ngIf="!customerData.email">-</ion-text>
      </div>
    </div>
    <div class="row">
      <div class="float-left">
        <ion-label>Phone Number</ion-label>
        <ion-text *ngIf="customerData.mobile"
          >+91&nbsp;{{customerData.mobile}}</ion-text
        >
        <ion-text *ngIf="!customerData.mobile"
        >-</ion-text
      >
      </div>
    </div>
    <div class="row">
      <div class="float-left">
        <ion-label>age</ion-label>
        <ion-text *ngIf="customerData.age">{{customerData.age}}</ion-text>
        <ion-text *ngIf="!customerData.age">-</ion-text>
      </div>
    </div>

    <div class="row">
      <div class="float-left">
        <ion-label>Address</ion-label>
        <ion-text *ngIf="customerData.gender">{{customerData.address}}</ion-text>
        <ion-text *ngIf="!customerData.gender">{{customerData.address}}</ion-text>
      </div>
    </div>
    <div class="row">
      <div class="float-left">
        <ion-label>Gender</ion-label>
        <ion-text *ngIf="customerData.gender">{{customerData.gender}}</ion-text>
        <ion-text *ngIf="!customerData.gender">-</ion-text>
      </div>
    </div>
    
    <div class="row">
      <div class="float-left">
        <ion-label>Position</ion-label>
        <ion-text *ngIf="customerData.gender">{{customerData.position}}</ion-text>
        <!-- <ion-text *ngIf="!customerData.gender">{{customerData.package}}</ion-text> -->
      </div>
    </div>


    <!-- <div class="row">
      <div class="float-left">
        <ion-label>DOB</ion-label>
        <ion-text *ngIf="customerData.dob"
          >{{customerData.dob | date :'dd MMM yyyy'}}</ion-text
        >
        <ion-text *ngIf="!customerData.dob">-</ion-text>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="float-left">
        <ion-label>Register From</ion-label>
        <ion-text *ngIf="customerData.isSocialLogin"
          >Social Media</ion-text
        >
        <ion-text *ngIf="!customerData.isSocialLogin"
        >Mobile</ion-text
      >
      </div>
    </div> -->

    <!-- <div class="row">
      <div class="float-left">
        <ion-label>Refer Code</ion-label>
        <ion-text *ngIf="customerData.referCode"
          >{{customerData.referCode}}</ion-text
        >

      </div>
    </div> -->

    <div class="row">
      <div class="float-left">
        <ion-label>Registration Date</ion-label>
        <ion-text *ngIf="customerData.createdAt"
          >{{customerData.createdAt | date: 'dd MMM yyyy'}}</ion-text
        >

      </div>
    </div>


  </ion-card>
</ion-content>
