<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/employee"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf='!isShow' id="top">Add Employee</ion-title>
    <ion-title *ngIf='isShow' id="top">Update Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form style="margin: 20px;" [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
    <ion-item>
          <ion-input
          type="text"
          class="form-control"
          id="name"
          autocomplete="off"
          formControlName="name"
          placeholder="Enter Name"
        >
      
      </ion-input>
    </ion-item>
    </div>
  
    <br>
    <div class="form-group">
      <ion-item>
      <ion-input
        type="email"
        class="form-control"
        id="email"
        autocomplete="off"
        formControlName="email"
        placeholder="Enter email"
      ></ion-input>
    </ion-item>
    </div>
    <br>
    <div class="form-group">
      <ion-item>
      <ion-input
        type="Number"
        class="form-control"
        id="age"
        autocomplete="off"
        formControlName="age"
        placeholder="Enter Age"
      ></ion-input>
    </ion-item>
    </div>
    <br>
    <div class="form-group">
      <ion-item>
        <ion-label>Department :</ion-label>
        <ion-select  placeholder="Department id" formControlName="departmentId">
          <section>
            <ion-select-option [value]="list._id" *ngFor="let list of departmentList">{{list.name}}</ion-select-option>
        </section>
        </ion-select>
      </ion-item>
  </div>
    <br>
    <div class="form-group">
    <ion-item>
      <ion-input
        type="text"
        class="form-control"
        id="position"
        autocomplete="off"
        formControlName="position"
        placeholder="Enter Position"
      ></ion-input>
    </ion-item>
    </div>
    
    <br>
    <br>
    <ion-button type="submit" *ngIf='!isShow' color="primary">Submit</ion-button>
    <ion-button type="button" *ngIf='isShow' color="primary" value="update" (click)="updateEmployeeManagement(myReactiveForm)">Update</ion-button>
    
  
    <br>
    
  </form>
