<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for = "name">name</label>
    <input type="text" class="form-control" id="name" autocomplete="off" formControlName="name" placeholder="Enter Name">
  </div>
 <div class="form-group">
   <label for = "description">description</label>
   <input type="text" class="form-control" id="description" autocomplete="off" formControlName="description" placeholder="Enter description">
 </div>
 <div class="form-group">
  <label for = "catagory">catagory</label>
  <input type="text" class="form-control" id="catagory" autocomplete="off" formControlName="catagory" placeholder="Enter catagory">
</div>
<div class="form-group">
  <label for = "designs_count">designs_count</label>
  <input type="number" class="form-control" id="designs_count" autocomplete="off" formControlName="designs_count" placeholder="Enter designs_count">
</div>
  <button type="submit" class="btn btn-primary">Submit</button>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <h1>Created-list</h1>
 
     <div *ngFor="let item of list">
         {{ item.description }}

     </div>


  
 
 


</form>

