 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title> Prototype Management</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<form style="margin: 20px;" [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
  <h4>Add Prototype</h4><br>
  <div class="form-group">
    <ion-input
      type="text"
      class="form-control"
      id="name"
      autocomplete="off"
      formControlName="name"
      placeholder="Enter Name"
    ></ion-input>
  </div>
  <div class="form-group">
    <ion-input
      type="text"
      class="form-control"
      id="description"
      autocomplete="off"
      formControlName="description"
      placeholder="Enter description"
    ></ion-input>
  </div>
  <div class="form-group">
    <ion-input
      type="text"
      class="form-control"
      id="catagory"
      autocomplete="off"
      formControlName="catagory"
      placeholder="Enter catagory"
    ></ion-input>
  </div>
  <div class="form-group">
    <ion-input
      type="number"
      class="form-control"
      id="designs_count"
      autocomplete="off"
      formControlName="designs_count"
      placeholder="Enter designs_count"
    ></ion-input>
  </div>
  <br>
  <!-- <ion-button type="submit" color="primary">{{ editMode?'Update Prototype':'Submit'}}</ion-button> -->
  <ion-button type="submit" *ngIf='!isShow' color="primary">Submit</ion-button>
  <!-- <ion-button type="button" *ngIf='isShow' color="primary" value="update" (click)="updatePrototypeManagement(myReactiveForm)">Update</ion-button> -->

  <br>
  
</form>

<h4>&nbsp;&nbsp;&nbsp;Prototype List</h4>
<!-- <ion-item-sliding *ngFor="let item of list">
  <ion-item >
    <ion-row>
      <ion-col>{{ item.name }}</ion-col>
      <ion-col>{{ item.designs_count }}</ion-col>
    </ion-row>
    <br />
    <ion-row>
      <ion-col style="font-size: 10px">{{ item.description }}</ion-col>
    </ion-row>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="warning" (click)="editInventory(inventory)">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="deleteInventory(inventory._id)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
  <br>
</ion-item-sliding> -->

<ion-item-sliding id="item100" *ngFor="let item of list" >
    
  
  <ion-item >
    <ion-row>
      <ion-col>{{ item.name }}</ion-col>
      <ion-col>{{ item.designs_count }}</ion-col> 
      <ion-col>{{ item.catagory }}</ion-col> 
    </ion-row>
  
    <br />
    <ion-row>
      <ion-col style="font-size: 10px">{{ item.description }}</ion-col>
      <ion-button type="button" *ngIf='isShow' color="primary" value="update" (click)="updatePrototypeManagement(myReactiveForm,item._id)">Update</ion-button>
    </ion-row>
    
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="warning" (click)="editPrototypeManagement(item)">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="deletePrototypeManagement(item._id)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

</ion-content>
