<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/department"
        (click)="closeModal()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf='!isShow' id="top">Add Department</ion-title>
    <ion-title *ngIf='isShow' id="top">Update Department</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form style="margin: 20px;" [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <ion-item>
          <ion-input
          type="text"
          class="form-control"
          id="name"
          autocomplete="off"
          formControlName="name"
          placeholder="Enter Name"
        >
      </ion-input>
      </ion-item>
    </div>
    <br>
    <div class="form-group">
      <ion-item>
      <ion-input
        type="text"
        class="form-control"
        id="description"
        autocomplete="off"
        formControlName="description"
        placeholder="Enter Description"
      ></ion-input>
    </ion-item>
    </div>
  
    <br>
    <ion-button type="submit" *ngIf='!isShow' color="primary">Submit</ion-button>
    <ion-button type="button" *ngIf='isShow' color="primary" value="update" (click)="updateDepartment(myReactiveForm)">Update</ion-button>
    
  
    <br>
    
  </form>
