<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  style="color: white;"></ion-menu-button>
      
        <!-- <ion-icon style="margin-left: 10px;font-size: 22px;"    name="arrow-back-outline"></ion-icon> -->
      
    </ion-buttons>
    <ion-title>
      Git Management
    </ion-title>
    <ion-buttons slot="end" style="margin-right: 20px;" >
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 <!-- <ion-searchbar #autofocus  *ngIf="showSearchBox"  spellcheck="true" placeholder="Search Customers" [(ngModel)]="searchWord" (ionChange)="search($event)"></ion-searchbar> -->

</ion-header>

<ion-content [fullscreen]="true">


<ion-list>
  <ion-item-sliding id="item100" *ngFor="let item of list">
    <ion-item [routerLink]="['/git/git-details/'+ item._id ]">
       
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <img class="product-thumbnail" src="https://www.flaticon.com/svg/vstatic/svg/25/25231.svg?token=exp=1614968860~hmac=44d5266445de814821a2a1d2d98a268c">
            <!-- {{item.label}} -->
              
          </ion-col>
          <ion-col size="9">
            <h6 class="product-name" *ngIf="item.username">{{item.username}}</h6>
            <h6 class="product-name grey-color" *ngIf="!item.repo_name">N/A</h6>
            <span class="tag-name">{{item.repo_name}}</span>
          </ion-col>
          <!-- <ion-col size="1">
            <ion-icon class="call-icon" name="call-outline"></ion-icon>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-item>

    <p *ngIf="list.length == 0" class="noRecordsFound">No Records Found</p>

    <ion-item-options side="end">
      <ion-item-option color="warning" (click)="openEditGitModal(item)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" (click)="presentAlertConfirm(item._id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>

    </ion-item-options>

  </ion-item-sliding>
</ion-list>




 
 
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openAddGitModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
